.card {
  border: 1px solid var(--color-secondary);

  -webkit-box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.8);
}
