.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  justify-content: center;
}

.search-container {
  display: flex;
  flex-direction: column;

  padding: 2rem 4rem;

  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.64);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.64);

  background-color: var(--color-tertiary);
}

.title-container {
  align-self: center;
  opacity: 100%;
  height: auto;

  transition: 100ms ease-in-out;
}

.hide-title-container {
  opacity: 0%;
  height: 0px;
  transition: 100ms ease-in-out;
}

.results-container {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  overflow: auto;
  height: 100%;

  padding: 1rem;

  transition: 200ms ease-in-out;
}

.hide-results-container {
  flex-grow: 0;
  flex-shrink: 1;

  height: 0px;

  transition: 200ms ease-in-out;
}
