.container {
  --columns: 7;

  @media (max-width: 480px) {
    --columns: 1;
  }

  @media (min-width: 480px) and (max-width: 768px) {
    --columns: 3;
  }

  @media (min-width: 768px) and (max-width: 1280px) {
    --columns: 4;
  }

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);

  gap: 1rem;
}

.section > h4,
.section > h1 {
  margin: 0;
}
.section > h4 {
  color: var(--color-tertiary);
}
