.container {
  display: flex;
  flex-direction: column;

  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: calc((100% * (1 / 3)) - 1rem);

  height: 100%;
}

.image-container {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: auto;

  min-height: 10em;
}

.content {
  background-color: var(--color-backdrop);

  display: flex;
  flex-direction: column;

  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;

  padding: 1rem;
}

.content * {
  margin: 0;
}

.content h4 {
  color: var(--color-primary);
}

.content p {
  color: white;
}
