@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(50vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animation-wrapper {
  display: flex;

  height: 100%;
  width: 100%;

  overflow: hidden;
}

.container {
  animation: slide-right 400ms ease-in-out 0s 1 normal both;

  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
}

.header {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  display: flex;
  gap: 1rem;
  padding: 0;
  padding-right: 1rem;

  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.64);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.64);

  background-color: var(--color-tertiary);

  height: 10em;
}

.header-image-container {
  height: 10em;
  width: 8em;
}

.header-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title-container h1 {
  font-size: 3rem;

  @media (max-width: 480px) {
    font-size: 2rem;
  }
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  display: flex;
  flex-direction: column;
  justify-content: start;

  overflow: auto;
  height: 100%;

  padding: 1rem;
  gap: 2rem;
}
