.container {
  width: 100%;
  height: 100%;
}

.container img {
  width: 100%;
  height: 100%;
}

.placeholder-container {
  position: relative;
  width: 100%;
  height: 100%;

  background: repeating-conic-gradient(
      var(--color-backdrop) 0% 25%,
      transparent 0% 50%
    )
    50% / 20px 20px;
}

.placeholder-container h4 {
  position: absolute;
  width: 100%;
  padding: 1rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  line-height: 1;
  font-style: italic;
  font-weight: bold;
  text-align: center;

  color: var(--color-error);
  background-color: var(--color-backdrop);
}
