@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

:root {
  --list-item-height: 15em;
}

.container {
  animation: slide-left 0.5s cubic-bezier(0.65, 0, 0.35, 1)
    calc(var(--animation-order) * 100ms) 1 normal both;

  cursor: pointer;

  display: flex;
  flex-direction: row;

  width: 700px;
  height: var(--list-item-height);

  @media (max-width: 768px) {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

.image-container {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;

  height: var(--list-item-height);

  @media (max-width: 768px) {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 75%;
  }
}

.content {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 75%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 2rem;

  @media (max-width: 768px) {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 25%;

    background-color: var(--color-backdrop);
  }
}

.content h2 {
  margin: 0;
  line-height: 1;
}

.description {
  line-height: 1;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;

  color: var(--color-tertiary);

  @media (max-width: 768px) {
    color: white;
  }
}

.description p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}
