.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: start;
  align-items: center;

  gap: 1rem;

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
