.wrapper {
  line-height: 1rem;
  margin-bottom: 0.25rem;
}

.container {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding-right: 3.125rem;
}

.input::-webkit-search-cancel-button {
  appearance: none;
}

.end-adornment {
  position: absolute;
  top: 0;
  right: 0.25rem;
  height: 100%;
  width: 3rem;

  display: flex;

  align-items: center;
  justify-content: center;
}

.error-message {
  color: var(--color-error);
  padding: 0;
  margin: 0;
  font-size: smaller;
  transition: 1s ease-in-out;
}
