.section {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.section * {
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.content p,
.content span {
  color: var(--color-tertiary);
}
