* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --color-primary: #3fcdac;
  --color-secondary: #7293a0;
  --color-tertiary: #62848d;
  --color-accent: #21d19f;
  --color-error: #ff2222;

  --color-background: #ffffff;
  --color-backdrop: #727272;

  --breakpoint-xs: 254px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 1280px;
  --breakpoint-lg: 1920px;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  line-height: 1.2rem;

  color: var(--color-primary);
  background-color: var(--color-background);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-accent);
  transition: 1s ease-in-out;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-background);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-accent);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  margin: 0;

  line-height: 3rem;
  padding-left: 0.5rem;

  font-size: medium;

  border: 1px solid var(--color-secondary);
  border-radius: 0.5rem;
  outline: none;

  transition: 250ms ease-in-out;
}
input:focus-visible,
input:focus-within {
  outline: 1px solid var(--color-accent);
  transition: 250ms ease-in-out;
}
input:hover:not(:focus-visible) {
  border: 1px solid var(--color-primary);
  transition: 250ms ease-in-out;
}
input::placeholder {
  color: var(--color-secondary);
}
